@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html { 
    
    -moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    
    font-family: Palatino, Times, serif;
}

img { 
	width: 100%;
    display: block;
    padding: 40;
}

body {
    margin: 5;
    padding: 0;
}

.masthead {
    background-color: black;
    overflow: hidden;
}

.logo {
    height: 4.5rem; 
    width: auto;
    margin: .5rem 5%;
}

artcile {
    margin: 0;
    padding: 0 5%; 
    overflow: hidden; 
}

h1 {
    margin: 1rem 0; 
    font-size: 2.5rem;
    font-family: Copperplate, Times, Fantasy;
    line-height: 2.5rem;
    color: black;
    text-shadow: red 3px 2px; 
}

h1 + p {
    font-size: 1.5rem;
    margin-bottom: 0 0 1.5rem;
    line-height: 1.75rem;
    color: black; 
}

p {
    line-height: 1.75rem;
    margin: 0 0 1.75rem;
}

img {
    border-bottom: 4px solid #F00;
}

figure { 
    margin: 0 auto 1.5rem;
    width: 100%; 
}

figcaption {
    font-size: 1rem;
    margin: .75rem 0;
    color: red;
    text-shadow: grey 1px 1px;
}

hr {
    border: dotted;
    color: grey;
    border-bottom-color: red; 
}

ol,
li { 
    font-size: 1rem;
    line-height: 1.5rem;
} 

footer {
    background-color: red;
    overflow: hidden;
}

footer {
    padding: 20;
    font-family: Copperplate, Times, Fantasy;
    color: white;
    margin: 0; 
    font-size: 1rem;
}

footer a {
    font-family: Copperplate, Times, Fantasy;
    color: black;
}